:root{
    --colorPrincipal: #f43950;
    --colorPrincipalClaro: #F87B8A;
    --colorPrincipalOscuro: #A32635;

    --textos: #fefefe;
    --textosSecundarios: #A9A9A9;

    --fondo: #3a3e63;
    --fondoClaro: #7C7E97;
    --fondoOscuro: #272942;
}

body{
    background-color: var(--fondo);
    color: var(--textos);
}

.bgHeader{
    background-color: var(--fondoOscuro);
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}

.bgHeader::-webkit-scrollbar {
    display: none;
}

.seccionLateral{
    border-bottom: 1px solid var(--fondoClaro);
    padding: 20px 0;
}

.seccionLateral h5{
    font-size: 16px;
}

.form-check-input{
    background-color: var(--fondo);
    border-color: var(--fondoClaro);
}

.form-check-label{
    font-size: 12px;
    margin-left: 5px;
}

.form-check-label span{
    color: var(--colorPrincipalClaro);
    margin-left: 5px;
}

.form-check-input:checked {
    background-color: var(--colorPrincipalClaro);
    border-color: var(--colorPrincipalOscuro);
}

.flexLateral{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
}

.btnBorde{
    border: 2px solid var(--fondoClaro);
    color: var(--textos);
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 14px;
}

.btnBorde:hover{
    border-color: var(--colorPrincipalOscuro);
}

.btnBordeSelec{
    background-color: var(--colorPrincipalClaro);
    border-color: var(--colorPrincipalClaro);
}

.btnBordeSelec:hover{
    background-color: var(--colorPrincipalOscuro);
    border-color: var(--colorPrincipalOscuro);
}

.imgAvatar{
    width: 40%;
    margin-left: 30%;
    border-radius: 50%;
    border: 5px solid var(--colorPrincipalClaro);
}

.imgAvatar:hover{
    border-color: var(--colorPrincipal);
}

.contenedorAvatar{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btnAvatar{
    width: 100%;
    background-color: var(--fondoClaro);
    color: var(--textos);
    border-radius: 0;
}

.btnAvatar:hover{
    background-color: var(--colorPrincipalClaro);
}

/* CONTENIDO CARRUSEL IZQUIERDA */
.contenidoCarrusel{
    left: 0;
    color: var(--textos);
    background: linear-gradient(to right, rgba(0,0,0,.7) 75%,transparent);

    height: 100%;
    padding: 10% 10%;
}

/* CONTENIDO CARRUSEL ABAJO */
/* .contenidoCarrusel{
    bottom: 0;
    color: var(--textos);
    background-color: rgba(39, 41, 66,.7);
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
} */

.contenidoCarrusel h1{
    margin: 0;
    font-size: 30px;
}

.contenidoCarrusel a{
    background-color: var(--colorPrincipalClaro);
    color: var(--textos);
    padding: 5px 20px;
}

.contenidoCarrusel a:hover{
    background-color: var(--colorPrincipal);
}