:root {
    --colorPrincipal: #f43950;
    --colorPrincipalClaro: #F87B8A;
    --colorPrincipalOscuro: #A32635;

    --colorSecundario: #38F561;

    --textos: #fefefe;
    --textosSecundarios: #A9A9A9;

    --fondo: #222526;
    --fondoClaro: #424446;
    --fondoOscuro: #1c1c1c;
}

body {
    background-color: var(--fondo);
    color: var(--textos);
}

.bgHeader {
    background-color: var(--fondoOscuro);
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}

.bgHeader::-webkit-scrollbar {
    display: none;
}

.seccionLateral {
    border-bottom: 1px solid var(--fondoClaro);
    padding: 20px 0;
}

.seccionLateral h5 {
    font-size: 16px;
}

.form-check-input {
    background-color: var(--fondo);
    border-color: var(--fondoClaro);
}

.form-check-input:focus{
    box-shadow: none;
}

.form-check-label {
    font-size: 12px;
    margin-left: 5px;
}

.form-check-label span {
    color: var(--colorPrincipalClaro);
    margin-left: 5px;
}

.form-check-input:checked {
    background-color: var(--colorPrincipalClaro);
    border-color: var(--colorPrincipalOscuro);
}

.flexLateral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
}

.btnBorde {
    border: 2px solid var(--fondoClaro);
    color: var(--textos);
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 14px;
}

.btnBorde:hover {
    border-color: var(--colorPrincipalOscuro);
}

.btnBordeSelec {
    background-color: var(--colorPrincipalClaro);
    border-color: var(--colorPrincipalClaro);
}

.btnBordeSelec:hover {
    background-color: var(--colorPrincipalOscuro);
    border-color: var(--colorPrincipalOscuro);
}

.imgAvatar {
    width: 40%;
    margin-left: 30%;
    border-radius: 50%;
    border: 5px solid var(--colorPrincipalClaro);
}

.imgAvatar:hover {
    border-color: var(--colorPrincipal);
}

.contenedorAvatar {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}


.btnAvatar {
    width: 100%;
    background-color: var(--fondoClaro);
    color: var(--textos);
    border-radius: 0;
}

.btnAvatar:hover {
    background-color: var(--colorPrincipalClaro);
}

/* RANGOS */
.rangos{
    position: relative;
    height: calc(var(--rangoTamano) + calc(var(--rangoTamano) / 2));
}
.rangos *{
    position: absolute;
}

.rangosInicial{
    height: var(--rangoTamano);
    width: var(--rangoTamano);
    top: calc(var(--rangoTamano) / 2);
    left: calc(var(--rangoInicio) - calc(var(--rangoTamano) / 2));
    border-radius: 50%;
    background-color: var(--colorPrincipalOscuro);
}
.rangosFinal{
    height: var(--rangoTamano);
    width: var(--rangoTamano);
    top: calc(var(--rangoTamano) / 2);
    left: calc(var(--rangoInicio) - calc(var(--rangoTamano) / 2) + var(--rangoAncho));
    border-radius: 50%;
    background-color: var(--colorPrincipalOscuro);
}

.rangosSeleccion{
    /* width: 80px; */
    width: var(--rangoAncho);
    border-radius: var(--rangoLinea);
    height: var(--rangoLinea);
    top: calc(calc(var(--rangoTamano) + calc(var(--rangoTamano) / 2)) / 2);
    left: var(--rangoInicio);
    background-color: var(--colorPrincipalClaro);
}

.rangosFondo{
    width: 100%;
    top: calc(calc(var(--rangoTamano) + calc(var(--rangoTamano) / 2)) / 2);
    border-radius: var(--rangoLinea);
    height: var(--rangoLinea);
    background-color: var(--fondoClaro);
}
/* FIN RANGOS */

/* CONTENIDO CARRUSEL IZQUIERDA */
.contenidoCarrusel {
    left: 0;
    color: var(--textos);
    /* background: linear-gradient(to right, rgba(0,0,0,.75) 75%,transparent); */

    backdrop-filter: blur(5px);
    height: 100%;
    padding: 10% 10%;
}

/* CONTENIDO CARRUSEL ABAJO */
/* .contenidoCarrusel{
    bottom: 0;
    color: var(--textos);
    background-color: rgba(39, 41, 66,.7);
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
} */

.contenidoCarrusel h1 {
    margin: 0;
    font-size: 30px;
}

.contenidoCarrusel a {
    background-color: var(--colorPrincipalClaro);
    color: var(--textos);
    padding: 5px 20px;
}

.contenidoCarrusel a:hover {
    background-color: var(--colorPrincipal);
}

/* CARD */
.seccionNuevos .card,
.seccionEstrellas .card {
    border: none;
    background-color: var(--fondoClaro);
    color: var(--textos);
    transition: all .6s;
    margin-bottom: 20px;
}

.seccionNuevos .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.3);
}

.btnPrincipal {
    background-color: var(--colorPrincipal);
    color: var(--textos);
}

.btnPrincipal:hover {
    background-color: var(--colorPrincipalOscuro);
}

.btnVer {
    width: 60%;
    margin-left: 20%;
}

.seccionNuevos h5,
.seccionEstrellas h5 {
    margin-bottom: 0;
    margin-top: 3px;
    transition: margin .4s;
}

.seccionNuevos h5 span,
.seccionEstrellas h5 span {
    color: var(--colorPrincipalClaro);
}

.seccionNuevos p,
.seccionEstrellas p {
    font-size: 12px;
    font-weight: 300;
    color: var(--textosSecundarios);
}

.contenedorEtiquetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.contenedorEtiquetas .etiquetas {
    background-color: var(--colorSecundario);
    color: var(--fondoOscuro);
    padding: 2px 10px;
    border-radius: 20px;
    margin-bottom: 0;
}

.tituloCardNuevos {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 5px 15px;
    /* background-color: rgba(244, 57, 80,.8); */
    backdrop-filter: blur(10px);
    text-shadow: 2px 2px 5px var(--fondoOscuro);
    font-size: 20px;
}

.contenedorRanking {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.estrellaNo {
    color: var(--fondo);
}

.estrellaSi {
    color: var(--colorPrincipal);
}

/* INPUTS */

.form-control,
.form-control:focus,
.form-control:active{
    background-color: var(--fondo);
    border-color: var(--textos);
    color: var(--textos);
    box-shadow: none;
}

.form-control:focus{
    border-color: var(--colorPrincipalClaro);
    background-color: var(--fondoClaro);
}

.form-control::placeholder{
    color: var(--textosSecundarios);
}

.enlaceForms{
    color: var(--textos);
}

.enlaceForms:hover{
    color: var(--colorPrincipalClaro);
}

.form-text{
    color: var(--colorPrincipalClaro);
    padding-left: 20px;
}

.formularioFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}