:root{
    --fondo: #0a0e16;
    --fondoOscuro: #040406;
    --fondoClaro: #192132;

    --principal: #8886f8;
    --principalOscuro: #5c44fa;
    --principalClaro: #ced1ff;

    --textos: #eeeeee;
    --textosSecundario: #9c9c9c;
}

body{
    background-color: var(--fondo);
    color: var(--textos);
    font-family: "Poppins", sans-serif;
}

/* CLASES DEL NAVBAR */
.barraNavegacion{
    background-color: var(--fondoOscuro);
}

.nav-link{
    color: var(--textos);
}

.nav-link:hover{
    color: var(--principal);
}

.nav-link i{
    font-size: 20px;
    margin: 0 3px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show{
    color: var(--principalOscuro);
}

.nav-item{
    margin: auto 0;
}

.dropdown-menu{
    background-color: var(--fondoClaro);
}
.dropdown-item{
    color: var(--textos);
}

.dropdown-item:hover{
    background-color: var(--principal);
    color: var(--fondo);
}

.navbar-toggler{
    color: var(--textos);
    border-color: var(--principal);
}

.navbar-toggler:focus{
    color: var(--principal);
}

.logo{
    height: 30px;
}

.dropdown-menu[data-bs-popper] {
    left: -50%;
}

/* FIN CLASES NAVBAR */

/* ESTILOS CARD */

.seccionPeliculas .card{
    border: none;
    background-color: transparent;
    color: var(--textos);
    transition: background .4s;
}

.btnPrincipal{
    background-color: var(--principal);
    color: var(--textos);
}

.btnPrincipal:hover{
    background-color: var(--principalOscuro);
}

.seccionPeliculas h5{
    margin-bottom: 0;
    margin-top: 3px;
    transition: margin .4s;
}

.seccionPeliculas p{
    font-size: 12px;
    font-weight: 300;
    color: var(--textosSecundario);
}

.card img{
    transition: all .4s;
}

.card:hover h5{
    margin-top: -5px;
}

.card:hover{
    background-color: var(--fondoClaro);
}

/* CLASES ACORDEON */

.accordion{
    --bs-accordion-border-width: 0;
}

.accordion-item{
    background-color: var(--fondoOscuro);
    color: var(--textos);
    margin-bottom: 20px;
}

.accordion-button{
    background-color: var(--fondoClaro);
    color: var(--textos);
}

.accordion-button::after{
    background-image: url("../img/chevron-up.svg");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../img/chevron-up.svg");
    transform: rotate(180deg);
}

.accordion-button:not(.collapsed) {
    background-color: var(--principalOscuro);
    color: var(--textos);
}

/* FOOTER */

footer{
    background-color: var(--fondoClaro);
}

footer ul{
    list-style: none;
    padding-left: 15px;
}

footer li{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    transition: all .4s;
}

footer a{
    text-decoration: none;
    color: var(--textos);
}

footer li:hover{
    border-left: 8px solid var(--principal);
    padding-left: 12px;
}

footer i{
    margin-left: 15px;
    font-size: 25px;
}

footer i:hover{
    color: var(--principal);
}

.footerSub{
    border-right: 1px solid var(--textos);
}

.footerSub:hover{
    text-decoration: underline;
    border-left: none;
}

.footerSub:last-child{
    border-right: none;
}

.subFooter{
    margin-bottom: 20px;
}