:root{
    --azulJaviera: #006DFF;
    --azulJavieraClaro: #4b99fe;
    --azulJavieraOscuro: #034396;

    --naranjoIgnacio: #f9b234;
    --naranjoIgnacioClaro: #ffd152;
    --naranjoIgnacioOscuro: #7e5201;

    --grisOscuro: #1f1f1f;

    --sombraRoja: 0 0 20px var(--azulJaviera);
    --sombraAmarilla: 0 0 20px rgb(225, 255, 0);

    --textoChico: 14px;
    --textoMedio: 20px;
    --textoGrande: 40px;

    --tipoMontserrat: "Montserrat", sans-serif; 

}

body {
    background-color: var(--grisOscuro);
    color: white;
    margin: 0;
    font-family: var(--tipoMontserrat);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--naranjoIgnacio);
    padding: 30px;
    transition: background .3s;
}

header:hover {
    background-color: var(--naranjoIgnacioOscuro);
}

main {
    margin: 40px;
}

a{
    color: white;
    text-decoration: none;
}

.contenedorCards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    flex: 1;
    background-color: #cecece;
    border-radius: 10px;
    overflow: hidden;
    color: #1f1f1f;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,.3); */
    transition: background color box-shadow .5s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    background-color: #767676;
    color: white;
    box-shadow: var(--sombraRoja)
}

.card h2 {
    transition: color .6s;
}

.card:hover h2 {
    color: #eb5a0b;
}

.anchoDoble {
    flex: 2;
}

.contenedorFoto {
    width: 100%;
    height: 190px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorFoto img {
    width: 100%;
    transition: all .6s;
}

.card:hover .contenedorFoto img {
    width: 200%;
}

.fondoImg1 {
    background: url("../img/auto.webp");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoImg2 {
    background: url("../img/vertical.jpeg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoImg3 {
    background: url("../img/cuadrado.avif");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedorTexto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.contenedorCardVertical {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cardVertical {
    flex: 1;
    height: 300px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333333;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.contenedorFooter1 {
    width: 94%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.columnaFooter {
    width: 100%;
    padding: 10px;
}

.lineaVertical{
    border-left: 1px solid #888888;
}

.columnaFooter h4 {
    margin-top: 0;
    margin-bottom: 16px;
}

.columnaFooter ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

.columnaFooter li {
    font-weight: 100;
    margin-bottom: 5px;
    font-size: 14px;
    transition: background, padding .4s;
}

.contenedorFooter1 li:hover{
    padding-left: 10px;
    border-left: 5px solid var(--azulJaviera);
}

.iconosFooter{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.iconosFooter a{
    font-size: 24px;
    color: #888888;
}

.iconosFooter a:hover{
    color: #006DFF;
}

.iconosFooter img{
    transition: all .4s;
}

.iconosFooter img:hover{
    filter: brightness(2);
}

.iconosFooter svg{
    width: 24px;
    height: 24px;
}

.iconosFooter svg:hover{
    color: #006DFF;
}

.contenedorFooter2{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-top: 1px solid #888888;
}

.footer2Derechos{
    width: 20%;
    color: #888888;
}

.footer2Legal{
    width: 80%;
}

.footer2Legal ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.footer2Legal li{
    padding: 0 10px;
    border-right: 1px solid white;
}

.footer2Legal a:hover{
    text-decoration: underline;
}

.footer2Legal .sinLinea{
    border-right: none;
}


@media (max-width: 992px) {
    .contenedorCards {
        flex-wrap: wrap;
    }

    .card {
        flex: none;
        width: 45%;
        flex-direction: column-reverse;
    }

    .anchoDoble {
        flex: none;
        width: 93%;
    }

    .contenedorCardVertical {
        flex-wrap: wrap;
    }

    .cardVertical {
        flex: none;
        width: 30%;
    }
    .contenedorFooter1 {
        flex-wrap: wrap;
    }
    .columnaFooter{
        width: 40%;
    }
}

@media (max-width: 576px) {
    .contenedorCards {
        flex-direction: column;
    }

    .card,
    .anchoDoble {
        flex: 1;
        width: 100%;
    }

    .card {
        flex-direction: row-reverse;
    }

    .contenedorTexto {
        flex-direction: column;
        align-items: center;
        width: 30%;
    }

    .contenedorCardVertical {
        flex-direction: column;
    }

    .cardVertical {
        width: 100%;
        height: 150px;
    }
    .contenedorFooter1{
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }

    .columnaFooter{
        width: 90%;
    }

    .contenedorFooter1 h4{
        font-size: 20px;
        padding-left: 10px;
    }
    .contenedorFooter1 li{
        font-size: 18px;
        margin-bottom: 10px;
        padding-left: 30px;
    }
    .lineaVertical{
        border: none;
    }
    .iconosFooter{
        padding-left: 30px;
    }
    .contenedorFooter2{
        flex-direction: column;
        align-items: center;
    }

    .footer2Legal, .footer2Derechos{
        width: 90%;
    }

    .footer2Derechos{
        margin-bottom: 20px;
        text-align: center;
    }

    .footer2Legal ul{
        padding: 0;
        justify-content: center;
    }
    
    .chaoMobile{
        display: none;
    }

}